[2015-01-15 11:37] marcomorain opened #25 "The docs link on the README is incorrect"
- The link to  https://dashboard.swrve.com/help/category/20127113 should link to http://docs.swrve.com/developer-documentation/37926233/
- On http://docs.swrve.com/developer-documentation/37926233/ there is some orange text that says "Integrate the iOS SDK Using CocoaPods" when you click on it it does nothing.

[2015-12-01 14:06] bejo opened #66 "Version 4.1.0 breaks `Swrve` class compatibility"
The new version, `4.1.0`, breaks `Swrve` class backwards compatibility without bumping the major version number (such an update should be labeled as `5.0.0`).

[2015-12-01 14:07] Sergio-Mira commented on #66
Hi @bejo, could you give us more information? It should be a drop in replacement for 4.0.X

[2015-12-01 14:14] Sergio-Mira commented on #66
It is true, the init method has changed a bit and we've moved the custom user id into the SwrveConfig object and needs to be changed when upgrading.

[2015-12-01 19:45] bejo commented on #66
Sorry for the lack of details and yes, it is the init method that changed in `4.1.0`

[2015-12-03 15:56] Sergio-Mira commented on #66
Hi @bejo we've just released a 4.1.1 version that brings back those methods, now marked as deprecated. We hope that blip didn't cause you much pain when upgrading. We'll be following a stricter versioning and deprecating control in the future.
Let me know if I can close this issue. Thanks!

[2015-12-04 16:11] bejo commented on #66
That works. Thanks @Sergio-Mira! :)

[2015-12-04 16:11] #66 closed, assigned to nobody

[2016-03-01 14:27] gopalAkula opened #93 "Swrve Pod integrations caused, additional languages(localizations) in app store listing."
Hi Team,

I got an issue while adding Swrve SDK using Pods. I submitted an app to App Store with Swrve SDK v4.0.5. By observing the build details, there are additional language support added to the build. This causes display of additional languages in app store listing. I checked the generated ipa by unzipping it. I observed some language specific files(*.lproj). Is there any way to restrict unint

[2016-03-02 16:09] Sergio-Mira commented on #93
Hi @gopalAkula thanks for letting us know. We have resources in the SDK to render the in-app message text correctly in the following languages: de, en, es, fr, it, nl and pt. Do those match what you are seeing?

I believe it might be possible to remove those from the App Store after you upload your app, let me know if those match and this helps:
https://developer.apple.com/library/ios/documentatio

[2016-03-02 17:50] gopalAkula commented on #93
Hi Sergio-Mira, thanks for quick reply.
Yes we are seeing all those files while integrating Swrve SDK using cocapods. It effects the overall language support to the build. It can be observed by checking iTunes connect build details. (If you go to iTunes connect -> Activity -> Under build details. Please review attached file “itunes_build_details.png”.) It is showing Localizations with multiple lan

[2016-03-08 18:39] Sergio-Mira commented on #93
We'll move to using Cocoapod resource bundles in the next SDK version, until then you could remove those with a pre_install hook like they specify here:
https://github.com/CocoaPods/CocoaPods/issues/1301

[2016-03-08 18:43] Sergio-Mira commented on #25
Thanks for those Marc! Hope everything is going well on Circle CI.
We are going to improve the readme this release and will push again this year to get the builds setup there too, any plans for Windows UWP builds?

[2016-03-08 18:43] #25 closed, assigned to nobody

[2016-04-08 09:44] adam-govan commented on #93
Hi @gopalAkula , we have just released iOS SDK 4.3 which fixes the issues you were seeing, it should available in Cocoapods now. Thanks!

[2016-04-08 09:44] #93 closed, assigned to nobody

[2016-05-01 12:45] Frizlab opened #128 "Control logging with a runtime flag"
In almost Frameworks/SDKs, the log level can be configured at runtime rather than compile time with a compilation option.
Would you consider adding this option in the Swrve SDK?

[2016-05-25 15:37] Sergio-Mira commented on #128
Hi @Frizlab what advantages would it give compared to the flag we have? Does your use case involve turning it on / off at runtime somehow? Thanks!

[2016-06-19 14:58] Frizlab commented on #128
Usually yes. I have a custom logging system which enables changing logging behavior at runtime. The log system has a system of tag and I can activate a certain log level for a certain tag.
I also have a special source file which is not version controlled just for logging configuration. When I want to change the logging configuration, I only change this file.
The log levels of frameworks and SDKs a

[2016-07-28 08:55] enagorny opened #161 "Control preferredStatusBarStyle"
Some time ago you've added option to control status bar appearance with `prefersIAMStatusBarHidden`.
Is it possible to control status bar style?

[2016-07-29 21:33] rdignard08 opened #163 "The resources for SwrveConversationSDK"
I see two issues here that I'm wondering can be addressed.  The first is that the images aren't in an xcasset which means that when this is packaged up every device will download every image in a given image set.  The second is that there are no `@3x` images for the 6+ which is good just for completeness sake.  I can write a PR for the xcasset, but I wanted to ask first if there is some reason tha

[2016-08-02 10:58] adam-govan commented on #163
Hi @rdignard08
Thanks for the comment, you're right, we'll look into addressing this for next release

[2016-08-03 15:16] Sergio-Mira commented on #161
Is your status bar style per view controller? We don't have any method to override the style in our view controllers so should take the root view controller style as far as I understand.

[2016-08-09 08:17] enagorny commented on #161
Yes, we control status bar style differently in our controllers. So I think it would be good for swrve message to control status bar style. Like it controls status bar presence now.

[2016-08-18 15:47] sdebruyn opened #174 "Feature request: compiled version or xcode project"
It would be helpful if one or more of the following was included:
- compiled .framework version
- xcodeproject file to build a framework or a static library

[2016-08-24 13:03] adam-govan commented on #161
is it currently not taking the style from the view controller you call it from?

[2016-08-31 16:05] adam-govan commented on #163
resolved as part of release 4.6 https://github.com/Swrve/swrve-ios-sdk/releases/tag/4.6.0

[2016-08-31 16:05] #163 closed, assigned to adam-govan

[2016-09-21 17:52] kolotum opened #192 "make permission request for photo camera optional"
To avoid error messages coming from iTunes Connect like

"This app attempts to access privacy-sensitive data without a usage description. The app's Info.plist must contain an NSCameraUsageDescription key with a string value explaining to the user how the app uses this data."

please add a preprocessor macro SWRVE_NO_PHOTO_CAMERA as described in https://docs.swrve.com/faqs/sdk-integration/exclude-o

[2016-09-22 07:50] Sergio-Mira commented on #192
Hi @kolotum thanks for opening this issue. We'll look into it!

[2016-09-22 07:52] Sergio-Mira commented on #192
Are you currently blocked or have you added "NSCameraUsageDescription" for now?

[2016-09-22 08:40] kolotum commented on #192
The app does not contain a NSCameraUsageDescription key for now.

I have patched the version 4.6.0 locally. It would be great if you could add the macro in the next versions so we can still use the official pod version.

[2016-09-22 08:41] Sergio-Mira commented on #192
We'll do! Did you have to remove any frameworks apart from removing/ifdef the references to the camera code?

[2016-09-22 08:51] kolotum commented on #192
We did not remove any framework for this issue. AVFoundation is still integrated.

only ifdef in
ISHPermissionRequest+All.m
ISHPermissionRequestPhotoCamera.h
ISHPermissionRequestPhotoCamera.m

(just like the already existing SWRVE_NO_PHOTO_LIBRARY)

[2016-09-22 09:05] Sergio-Mira commented on #192
That is super info, thanks! We have someone working on it and it'll be part of our next release

[2016-09-22 17:12] kolotum commented on #192
btw my list above wasn't complete. I also added ifdef in SwrvePermission (.h & .m)

[2016-10-13 14:56] adam-govan commented on #192
This has been fixed in the latest release :)

[2016-10-13 14:56] #192 closed, assigned to adam-govan

[2016-11-03 19:51] st3fan opened #203 "Please make swrve compatible with Carthage"
I did not see explicit support for Carthage, which is a popular alternative to CocoaPods. It would be great if Swrve supported it.

[2016-11-16 15:35] Sergio-Mira commented on #203
Hi @st3fan we currently don't have support to distribute our library as a framework. If we add support for it we'll look into adding it to Carthage. Thanks!

[2016-11-16 18:19] st3fan commented on #203
I'm curious, why can't it be a framework?

[2016-11-17 12:24] Sergio-Mira commented on #203
It can be a framework, but we don't have that distribution option at the moment unfortunately.

[2017-01-24 05:34] richmondwatkins opened #229 "Allowing users to disable push notifications"
Is there an endpoint for disabling push notifications on a particular device? Ideally I'd like to be able to allow my users to toggle push notifications on and off from within the app with a switch. Is this possible?

[2017-01-24 10:08] Sergio-Mira commented on #229
HI @richmondwatkins you could call
`[[UIApplication sharedApplication] unregisterForRemoteNotifications]`
which would invalidate the device token in Apple's servers, meaning the device would not see push notifications anymore.

We are looking at more advanced solutions and will keep this issue posted.

[2017-01-31 15:27] JPNavilo opened #230 "Unknown push notifications enabled"
We realize that in the newer version of one app that we are using Swrve services, user are always sending that their push notifications are unknown.
I just debug the code and I realize that although:
pushSettingsEnabled = [app isRegisteredForRemoteNotifications];
it is YES we are returning the unknown state.
I think the problem could be in this last commit.
https://github.com/Swrve/swrve-ios-sdk/c

[2017-01-31 15:34] Sergio-Mira commented on #230
Hi @JPNavilo you are indeed correct. The left over 'else' is probably causing the issue. We'll fix it in the next release. Thanks!

[2017-02-23 10:03] kolotum opened #231 "Removed check for constant SWRVE_NO_PHOTO_CAMERA in version 4.8.0"
In SDK version 4.8.0 the checks for SWRVE_NO_PHOTO_CAMERA were removed. Are there any plans to re-add the logic you introduced in October 2016?

(Refer to closed issue #192 )

[2017-02-23 10:36] Sergio-Mira commented on #231
Hi @kolotum we'll bring it back on 4.9 which is coming next!

[2017-03-22 15:21] clue4gd commented on #230
Is there a fix added in the current release 4.9? Still having a problem timing the push notification request with a list of push notification events and i suspect thats due to this issue.
SwrveConfig* config = [[SwrveConfig alloc] init];
config.pushEnabled = YES;
config.pushNotificationEvents = [[NSSet alloc] initWithArray:@[@"push_notification_permission"]];
[Swrve sharedInstanceWithAppID:[appId

[2017-03-22 15:42] Sergio-Mira commented on #230
Yes, we added a fix for this issue in the latest release 4.9.
@clue4gd did your problem started on a given release or is it the first integration? Do you happen to do location targeting too? The library we use has a know issue where it asks for push permissions always at the start.

[2017-03-22 15:42] Sergio-Mira commented on #231
The check is back in the latest release 4.9!

[2017-03-22 15:42] #231 closed, assigned to nobody

[2017-03-23 08:36] clue4gd commented on #230
Its not the first integration but i can't check versions below 4.6. On 4.6 the popup appears immediately on app start already. On this app, we are not doing any location targeting.
Is there a bug task for it or is it planned to have this fixed in one of the next releases?

[2017-03-23 14:34] Sergio-Mira commented on #230
@clue4gd I cannot reproduce the issue in any of our versions given that config. The issue that the original author had is not related to asking for permissions but reporting on them once that has happened for user segmentation.

If you take [the following sample bundled with the SDK](https://github.com/Swrve/swrve-ios-sdk/tree/release-4_6/samples/Objective-C/MessageCenterSample) and use that confi

[2017-03-23 14:34] #230 closed, assigned to nobody

[2017-07-12 11:30] Sergio-Mira commented on #161
Please reopen with more details if it is still happening

[2017-07-12 11:30] #161 closed, assigned to nobody

[2017-09-06 22:01] jerelevine opened #233 "UIApplication sharedApplication in app extension"
`#if !(defined(__has_feature) && __has_feature(attribute_availability_app_extension))
` is not the proper way to check if the code is running in an app extension. https://stackoverflow.com/questions/24018380/what-is-the-preprocessor-macro-to-test-whether-an-application-extension-is-being#comment48827623_29076070

See how SDWebImage handles this issue by checking if UIApplication responds to the se

[2017-09-07 09:00] dominicmarmionswrve commented on #233
Thanks you @jerelevine for letting us know. If this is blocking you please say so. We'll look into this shortly and get back back to you.

[2017-09-08 20:16] jerelevine opened #234 "Can't upload app via Xcode 9 beta with Swrve"
<img width="696" alt="application-uploader-itunes-store-operation-failed" src="https://user-images.githubusercontent.com/6404082/30229682-bbaeacec-9497-11e7-99b1-c30de6392055.png">

Although the error doesn't seem to have anything to do with Swrve, when I include Swrve in the app, I receive this error when attempting to upload the app to iTunes Connect via Xcode 9. When I exclude Swrve, the app is

[2017-09-10 14:23] Sergio-Mira commented on #234
Hi @jerelevine thanks for contacting us. Do you use any other Pod? It is probably related to this bug in Cocoapods and it is tracked here: https://github.com/CocoaPods/CocoaPods/issues/7003

[2017-09-11 18:52] jerelevine commented on #234
That fixed the problem for me. Thanks for the help!

[2017-09-11 18:52] #234 closed, assigned to nobody

[2017-09-11 19:37] jerelevine opened #235 "Native SKStoreReviewController requestReview support"
I'm wondering what your plan is for native support for `[SKStoreReviewController requestReview]`?

Currently we use Swrve for a rate the app In-App message and then deep link to rate the App Store. Ideally, we'd like to be able to trigger prompting to rate the app via `[SKStoreReviewController requestReview]` natively without showing a message beforehand but still using Swrve events to trigger thi

[2017-09-13 08:09] Sergio-Mira commented on #235
Hi @jerelevine, it is something we are looking into but we don't have a release version for it. I'll keep this issue updated with any news. Thanks!

[2017-09-13 15:07] Sergio-Mira commented on #233
I just tested on iOS10 and the SDWebImage check is returning true (incorrect) as the class is there and it responds to that selector but the returning value is nil in the SE.

It is working as expected with the current code but we'll add a selector & response != nil check in the next release. Cheers!

[2017-09-25 09:31] Sergio-Mira commented on #233
We've updated the SE check in 4.11.3 which was released last week

[2017-09-25 09:31] #233 closed, assigned to nobody

[2017-09-28 18:05] jerelevine opened #236 "Push notifications permissions unknown"
https://github.com/Swrve/swrve-ios-sdk/blob/aaa89d977e1ef1a38e2a7ebfc539b51bd5ea3a2a/SwrveSDKCommon/Common/SwrvePermissions.m#L126-L128

There's a bug where when Push Notification Permissions are not determined, the SDK is returned "denied"

[2017-09-28 18:48] jerelevine commented on #236
Additionally, it also seems like push notifications permissions status may not be persisted or sent to the server at all.

[2017-09-29 17:59] jerelevine opened #237 "+[SwrvePermissions updatePermissionsStatusCache:] crash"
I'm getting EXC_BAD_ACCESS KERN_INVALID_ADDRESS crashes on +[SwrvePermissions updatePermissionsStatusCache:]. I believe that although adding entries to the dictionary is thread-safe via @synchonized, the way the dictionary is created isn't thread-safe.

https://github.com/Swrve/swrve-ios-sdk/blob/aaa89d977e1ef1a38e2a7ebfc539b51bd5ea3a2a/SwrveSDKCommon/Common/SwrvePermissions.m#L102-L111

[2017-10-05 09:45] Sergio-Mira commented on #237
Thanks @jerelevine we are looking at this crash now. Do you have any more info on how to get it to crash?

[2017-10-05 09:47] Sergio-Mira commented on #236
Thanks @jerelevine. It looks like this change was introduced due to some pre iOS10+ uncertainty when combined with silent push (always gives a token without the dialog) in the 4.11.X releases.
On an upcoming hotfix we'll be properly reporting iOS10+ unknown as 'unknown'.

When are you not seeing the permissions being sent to the server? From our testing they are sent when available.

[2017-10-05 18:21] jerelevine commented on #236
Hi Sergio, thanks for looking into this for me. It looks like the data is being sent to the server but the value isn't being persisted in NSUserDefaults as is with all the other permissions. That's not a problem for me, it just made me wonder whether it was making it's way to the server.

[2017-10-05 19:00] jerelevine commented on #237
Hi Sergio, I can't reproduce the crash. It seems that getNotificationSettingsWithCompletionHandler: returns on an arbitrary queue. I've attached a sample stack trace to see if that helps.

[com.credibleinc.chefsfeed_issue_1972_crash_976f26c4aac947f49ec2058d8d70c50a_f87024089e1511e784b256847afe9799_0_v2.txt](https://github.com/Swrve/swrve-ios-sdk/files/1360499/com.credibleinc.chefsfeed_issue_1972_c

[2017-10-06 14:50] Sergio-Mira commented on #236
Thanks for the detailed information again. We are now reporting iOS10+ devices as unknown in 4.11.4 that has just been released, let us know how it goes!

[2017-10-06 14:50] #236 closed, assigned to nobody

[2017-10-06 14:51] Sergio-Mira commented on #237
Thanks for the stack trace and all the info. We've put a fix for this issue on 4.11.4 that has just been released, let us know how it goes!

[2017-10-06 14:51] #237 closed, assigned to nobody

[2017-10-06 21:31] jerelevine commented on #236
Great thanks!

[2017-10-06 21:32] jerelevine commented on #237
Great thanks!

[2017-10-13 12:54] KevBrodigan commented on #203
Carthage support added in release-4_11_3

[2017-10-13 12:54] #203 closed, assigned to nobody

[2017-10-13 12:56] KevBrodigan commented on #174
Carthage support added in release-4_11_3.  See SwrveFrameworks project.

[2017-10-13 12:56] #174 closed, assigned to nobody

[2017-11-15 22:44] rdignard08 opened #239 "Dependency on SwrveConversationSDK"
Hello!

My company currently uses the pod SwrveSDK for A/B testing, and I'm curious if there's a plan to remove the dependency on SwrveConversationSDK so that for people that don't use it, they don't have to include that code in their bundle.

[2017-11-16 11:11] dominicmarmionswrve commented on #239
Hi there, thanks for getting in touch. There are no plans to remove this dependency so it's going to remain part of the sdk.

Even if you don't use conversations, we don't see anything wrong with having it there ready for you to use sometime in the future if you change your mind. We have some exciting changes planned for conversations in 2018.

Why do you want to exclude it?

[2017-11-16 23:09] rdignard08 commented on #239
We're interested in reducing our code footprint and unused code and assets is an easy target.  We've had some of our other 3rd party's do this already (Firebase and Facebook), and I saw that Swrve has a similar structure to those.

[2017-11-17 11:28] dominicmarmionswrve commented on #239
All assets, except for three tiny ones, are downloaded when conversations are loaded. The code footprint/assets from SwrveConversationSDK are so minimal that this wouldn't be worth it.

[2017-11-17 11:28] #239 closed, assigned to nobody

[2018-03-02 17:25] ivanvranjic opened #240 "Payloads of events not visible in Swrve Console"
This is an example of json body that is sent to `https://<app_id>.api.swrve.com/1/batch`
`{"user":"XXX","short_device_id":18003,"app_version":"1.0","session_token":"XXX","data":[{"payload":{"screen_name":"settings","button_name":"share"},"seqnum":1728,"name":"appname.top_level.press_button","type":"event","time":1520010244863}],"version":2}`
I see this when I debug network requests in the app.

Ev

[2018-03-02 19:04] Sergio-Mira commented on #240
I believe that has to be enabled in the backend, could you please get in contact with support@swrve.com?

[2018-03-12 10:20] kaplad opened #241 "Swrve messages can cause `unrecognized selector` exception on devices running iOS 8"
`SwrveMessageViewController.m`:
[code]
Unfortunately `setAllowedPressTypes` is only available from `iOS 9`

[code]
`setNeedsFocusUpdate` and `updateFocusIfNeeded` are part of `UIFocusEnvironment` protocol which is also available only from iOS 9

`SwrveMessageController.m`
[code]
Same issue as previous

[2018-03-12 10:50] adam-govan commented on #241
Hi @kaplad Thanks for bringing this to our attention!
I'm going to have a look into this now. I might reply again if I need any further info 👍

one thing to note: if by chance you're also building for tvOS, our minimum supported OS version is 9

[2018-03-12 11:08] kaplad commented on #241
@adam-govan happy to help! :) No, sorry, we only build our app for iOS

[2018-03-13 18:12] adam-govan commented on #241
hi @kaplad
we've just released a hotfix for this issue: https://github.com/Swrve/swrve-ios-sdk/releases/tag/5.2.1

Thanks again for letting us know 😄 👍

[2018-03-13 18:12] #241 closed, assigned to adam-govan

[2018-03-14 09:11] kaplad commented on #241
@adam-govan awesome! thank you ;)

[2018-03-29 21:45] kevmalek opened #242 "5.2.1 Fails to compile on Xcode 9.3 & Swift 4.1"
The SDK fails to compile with the error: `Duplicate interface definition for class 'SwrvePush'`

Also there's the warning: `Duplicate protocol definition of 'SwrvePushResponseDelegate' is ignored`

[2018-04-02 14:39] dpiletski commented on #242
The same issue for me. It seams like PR is already there, but not merge yet.

[2018-04-02 14:56] MaikCL commented on #242
Same here, waiting for the merge

[2018-04-02 17:41] bastianX6 commented on #242
Same here. It's really necessary.

[2018-04-02 20:01] xrelative commented on #242
Same here ✋

[2018-04-03 09:58] KevBrodigan commented on #242
Hi All, this will be fixed in the next release which will be available shortly.

[2018-04-03 14:12] ejmartin504 commented on #240
I can confirm that is not enabled by default on the backend. Have spoken with Swrve quite a bit about this, still not 100% sure why this is the case.

[2018-04-04 12:57] KevBrodigan commented on #242
These issues have been addressed in the latest release 5.2.2

[2018-04-04 12:57] #242 closed, assigned to nobody

[2018-04-17 22:43] jerelevine opened #244 "Passing launch options loses rich push action identifier"
When passing in launch options to SDK, it doesn't take into account the action identifier. So if a user taps on a rich push button and it launches the app, the user is not directed to the button's action but rather to the default action.

"checkLaunchOptionsForPushData:" calls the "remoteNotificationReceived:" received selector which doesn't take into account the action identifier. Swrve should ch

[2018-04-18 11:54] Sergio-Mira commented on #244
Hi @jerelevine thanks for letting us know. We'll investigate and fix it in a hotfix/upcoming release.

[2018-04-25 11:08] Sergio-Mira commented on #240
Hi @ejmartin504 did you manage to get the event payloads processed?

[2018-04-25 14:08] ejmartin504 commented on #240
This was a while back, but I was told that they could enable it for me, but that it would adversely affect other reporting somehow. Sorry I don't remember exactly all the details

[2018-04-25 15:26] Sergio-Mira commented on #244
Hi @jerelevine we've tried to reproduce the problem and we haven't been able to.

If you click on the whole notification the app will open and launchOptions will include a notification key. However, if you click on a button there won't be any launchOptions and the other method will execute normally without any problems.

Could you let us know how to reproduce it? Is it in an specific iOS version?

[2018-05-02 11:11] Sergio-Mira commented on #240
Closing this issue for now as it is due to a feature in the backend. Please reopen or get in contact with support@swrve.com if you have further questions. Thanks!

[2018-05-02 11:11] #240 closed, assigned to nobody

[2018-05-30 11:24] Sergio-Mira commented on #244
Thanks again @jerelevine for letting us know. We still haven't been able to reproduce this problem, do you happen to have more information on how to reproduce (OS, steps)? Thanks!

[2018-06-06 11:13] Sergio-Mira commented on #244
Closing this issue, please reopen with more information if able to reproduce. Thanks again!

[2018-06-06 11:13] #244 closed, assigned to nobody

[2018-11-29 01:19] jerelevine opened #246 "Push Permission Request When Not Desired"
Push token can be requested for silent push notifications. Silent push notifications don't require user permission. This code automatically asks a user for push permission despite it not always being the desired case. This code should simply call "registerForRemoteNotifications" instead of going through the entire requesting push permissions flow.

https://github.com/Swrve/swrve-ios-sdk/blob/97f36

[2018-11-29 09:26] Sergio-Mira commented on #246
Thanks @jerelevine for sharing this with us. We'll look into it and come back to you. Are you being blocked by this?

[2018-12-19 10:39] Sergio-Mira commented on #246
A fix has been applied in iOS 6.0.1, thanks again!

[2018-12-19 10:39] #246 closed, assigned to nobody

[2019-03-18 09:33] jozsef-vesza opened #247 "[Question] Migrating from UIWebView to WKWebView"
From the [docs](https://developer.apple.com/documentation/uikit/uiwebview):

Are there any plans to migrate to using `WKWebView` instead of `UIWebView` within the framework? I haven't yet checked how big this task would be, but if other things have higher priority I can try to find some time to help out.

Thanks!

[2019-03-20 13:26] Sergio-Mira commented on #247
Hi @jozsef-vesza we want to move to WKWebView but it is not a priority at the moment. We'll keep you posted on the progress of moving to that view (easier now that we support iOS 10+) in this thread.

[2019-05-29 07:32] MayankSehgal95 opened #249 "Vulnerabilities caused by use of the Weak HASH API(s)"
Hi,
We are using Version 6.1.0 in our project & since there is CC_MD5 present in code which is creating vulnerabilities in the code. So just wanted to know whether these banned API's are going to be resolved in upcoming versions.

We are looking forward to your support.
Thanks

[2019-05-29 08:32] oisin commented on #249
Hi there -- the MD5 usage in the code is to create a digest, like a checksum, for previous text. It's not used as an encryption strategy. Thanks for your inquiry, however, if security scanning tools are flagging this as an issue we will consider replacing it in a future release.

[2019-05-29 08:32] #249 closed, assigned to nobody

[2019-05-29 11:05] MayankSehgal95 commented on #249
Thanks for the update. When we can expect the future release?

[2019-05-29 11:09] oisin commented on #249
We've no set dates as yet for our next major number release.

[2019-06-07 00:39] dipkasyap opened #250 "Crash on identification"
SwrveSDK causing crash with out any stack log, when I add following line of code on App it causes app crash.
iOS Version: 12.3
Xcode Version: 10.2.1
Swift Version: 4.2

[code]

[2019-06-07 01:21] dipkasyap commented on #250
Seems it was called before SDK initialisation, Now I am closing this issue.

[2019-06-07 01:21] #250 closed, assigned to nobody

[2019-08-05 04:15] dipkasyap opened #251 "Strong Retain causing Memory leak!"
Setting delegate is causing Memory leak.

`@property (nonatomic, retain) id <SwrveMessageDelegate> showMessageDelegate;            /*!< Implement this delegate to intercept in-app messages. */`

[2019-09-18 08:20] KevBrodigan commented on #247
Hi @jozsef-vesza. We have migrated to WKWebView and all references to UIWebview have been removed from the SDK in version: 6.2.1

[2019-09-18 08:20] #247 closed, assigned to nobody

[2019-11-06 23:50] lucasaue opened #252 "Swrve 6.3.0 pod was not published"
The last version that was published in Pod is Swrve 6.2.1, but I don't wanna use this version because there are some bugs in conversation.

This is the error message when I try to install the 6.3.0 version. When I remove the version in my Podfile, I install the latest publish version (6.2.1)

[!] CocoaPods could not find compatible versions for pod "SwrveSDK":
  In Podfile:
    SwrveSDK (= 6.3.0)

[2019-11-07 10:03] Sergio-Mira commented on #252
Hi @lucasaue thanks for reaching out. The SDK is published and can be visible in the Cocoapod website: https://cocoapods.org/pods/SwrveSDK

Depending on the cocoapod gem version you might need to run a "pod repo update" to be able to use it.

[2019-11-07 10:42] #252 closed, assigned to nobody

[2019-11-07 16:30] lucasaue commented on #252
Thank you!

[2019-11-19 12:40] mikolaj92 opened #253 "[Request] SPM support"
As for now, I didn't see any information regarding SPM support.
Do you plan to support SPM or is there any information regarding that?

[2020-03-11 09:44] Sergio-Mira commented on #251
Hi @dipkasyap,

We have now released a new version of the Swrve iOS SDK:
https://docs.swrve.com/release-notes/sdk-release-notes/ios-sdk-release-notes/#Release_64

In this release we've moved delegates to be weak.

Let me know if you have any further questions on this.

Best,
Sergio

[2020-03-11 09:45] #251 closed, assigned to nobody

[2020-03-27 08:55] popei69 opened #254 "RootViewController doesn't handle `unrecognized selector` exception"
Hey team,

We've recently launched an in-app message campaign at scale and we caught a lot of `unrecognized selector` exception for our used rootViewController.

![image](https://user-images.githubusercontent.com/1432849/77738108-34908a00-704a-11ea-946b-3e9e1cb3320e.png)

When digging deeper, it seems coming around `SwrveMessageViewController`. I didn't see any usage in our main codebases but from

[2020-05-29 08:53] jmbrocal opened #256 "Crash with message "NSArray was mutated while being enumerated""
HI,

We have reported several crashes in Swrve SDK, the version in use is **6.4.0**.

The stack trace of the crash is the following.

[code]

[Here](https://github.com/Swrve/swrve-ios-sdk/files/4700706/error_stacktrace_NSGenericException_event.txt.zip) you can find the whole stack trace report.

Thanks

[2020-06-03 15:42] davidbreenwex commented on #256
Hi @jmbrocal,

We have identified a fix for this issue. We plan on including it in the  next SDK release which is due in a few weeks. I'll update you once this goes out.

Best,
Davdi

[2020-06-05 10:48] borisyurkevich opened #257 "iOS 12 support"
When trying to compile your SDK with iOS deployment target set to 12 it fails because you are using deprecated API for persisting files on disk. This is easy to update https://stackoverflow.com/a/53581313/1162044

<img width="943" alt="SwrveProfileManager.m" src="https://user-images.githubusercontent.com/1362354/83868127-45ccd580-a722-11ea-896c-5f6c5ee2e1b8.png">

_SwrveProfileManager_

[2020-06-05 10:59] borisyurkevich commented on #257
Since `archivedDataWithRootObject:requiringSecureCoding:error` is available in iOS 11, I can try to update it myself, looks trivial.

[2020-06-08 10:52] borisyurkevich commented on #257
I could patch this, but Swrve would still not compile for iOS 12 because it uses `CTTelephonyNetworkInfo.subscriberCellularProvider`, and replacement is not available in iOS 11. The iOS 12 property is `serviceSubscriberCellularProviders`. This is due to new iPhone devices which support dual SIM.

[2020-06-08 11:27] borisyurkevich commented on #257
Here's PR, not sure how link it with this ticket: https://github.com/Swrve/swrve-ios-sdk/pull/258
I would appreciate a review, if we can update this this will ease iOS 12 transitions for many since we will only need to change Swrve code in one place.

[2020-06-08 11:47] borisyurkevich commented on #257
I have opened another PR to resolve issue with `CTTelephonyNetworkInfo.subscriberCellularProvider` while keeping iOS 11 compatibility https://github.com/Swrve/swrve-ios-sdk/pull/259

[2020-06-09 14:49] KevBrodigan commented on #257
@borisyurkevich Thanks for the PR's, we will be addressing the deprecations (and others) you raised in our next SDK release. Just need to ensure all deprecation are wrapped in @available checks for backwards compatibility for our min support version.

[2020-06-16 13:00] mario2r commented on #253
Is there any plan to support SPM in future versions?

[2020-06-24 10:40] davidbreenwex commented on #256
Hi @jmbrocal,

A fix for this has been release in our latest SDK version - 6.5.2
Let us know at support@swrve.com if you have any issues.

Best,
David

[2020-06-24 10:40] #256 closed, assigned to nobody

[2020-11-03 10:43] Sergio-Mira commented on #257
Fixed in release-6_6_0, thanks @borisyurkevich !

[2020-11-03 10:43] #257 closed, assigned to nobody

[2020-11-03 10:47] Sergio-Mira commented on #235
You could achieve this using a Custom Button or a Deeplink and call that method.

[2020-11-03 10:47] #235 closed, assigned to nobody

[2020-11-04 11:58] borisyurkevich commented on #235
@jerelevine I don't see why you couldn't use Swrve event in combination with the `requestReview` method? Just don't use wherever Swrve offers for asking user to review.

[2020-11-09 09:33] sandpat commented on #253
I made an attempt on implementing SPM support. Please checkout https://github.com/sandpat/swrve-ios-sdk/ (branch: spm-support)

[2020-12-14 15:56] adam-govan commented on #253
Our latest release (6.8.0) now supports SPM. Closing this issue now. Thanks for bringing this our attention!

[2020-12-14 15:56] #253 closed, assigned to nobody

[2021-01-06 12:13] KevBrodigan commented on #254
I believe this is related to resetting the key window root controller.

eg something like this been set: UIApplication.shared.keyWindow?.rootViewController = TabBarController()
while a Swrve IAM is showing, before been dismissed Essentially, you can’t be sure what the keyWindow is at the time that is done.

This could lead to potential issues with our SDK as we create a UIWindow to display IAMs an

[2021-01-06 12:13] #254 closed, assigned to nobody

[2021-01-07 02:51] popei69 commented on #254
Hey @KevBrodigan, is my pull request above still relevant for you? It got approved around same time you closed this one. If not, I'll close it as well.

[2021-02-11 14:50] kmarcell opened #261 "Building using Xcode 12.5"
**Swrve version:**
6.8.0

**Task:**
Build Swrve using Swift Package Manager

**Issue:**
Fails to build because initializer is made unavailable and using _new_ doesn't work anymore in Xcode 12.5 Beta

**Error Message:**
'new' is unavailable
SwrveSDK/include/SwrveMessageController.h:47:1: 'init' has been explicitly marked unavailable here

**Cause:**
SwrveMessageController.h

- (instancetype)init NS

[2021-02-16 12:26] KevBrodigan commented on #261
@kmarcell thanks for raising this issue, we will look into this and release an update if required.

[2021-02-18 11:46] KevBrodigan commented on #261
@kmarcell, we have released version 6.8.1 which has removed the unavailable annotation . It should build now, thanks.

[2021-02-18 11:46] #261 closed, assigned to nobody

[2021-02-18 11:46] KevBrodigan commented on #261
Fixed.

[2021-02-19 11:57] KevBrodigan commented on #254
Apologies for delay in responding, no we can close thanks

[2021-04-09 09:42] kmarcell commented on #128
With Swift Package Manager is there a way to disable logging when adding the dependency to an iOS App Target? The GCC_PREPROCESSOR_DEFINITIONS with SWRVE_DISABLE_LOGS=1 doesn't seem to work when adding to the app target while using SPM.

[2021-04-09 09:55] Sergio-Mira commented on #128
We are adding a runtime configurable level on the next major SDK release scheduled for the next few weeks.

[2021-04-28 13:03] kmarcell opened #262 "Version 6.8.1 not building with SPM on Xcode 12.5"
Current version 6.8.1 doesn't build with SPM on Xcode 12.5 the issue is with the Swrve.h umbrella header not importing public Obj-C headers that are placed (or symlinked) to SwrveSDK/include.

You'll need to add the below to Swrve.h at the bottom of the file. I would also recommend to remove +Private.h headers from the /include folder.

[code]

[2021-04-29 11:55] Sergio-Mira commented on #262
Thanks @kmarcell we'll have a look for the upcoming SDK we have planned soon

[2021-05-25 16:57] Sergio-Mira commented on #128
Happy to report that the new iOS SDK 7.0.0 has runtime configuration for the logger, use:
`[SwrveLogger setLogLevel:WARNING];` to set the level wanted: https://docs.swrve.com/faqs/sdk-integration/disable-sdk-device-logging/

Let us know how it looks etc and any feedback. Will close this one but feel free to open a new issue.

[2021-05-25 16:57] #128 closed, assigned to nobody

[2021-05-25 16:58] Sergio-Mira commented on #262
A new version of the SDK has been released and we hope it fixes this issue. Please let us know how it goes!

[2021-05-25 16:59] #229 closed, assigned to nobody

[2021-05-25 17:00] Sergio-Mira commented on #229
`[[UIApplication sharedApplication] unregisterForRemoteNotifications]` is the way to go to avoid getting push notifications. Unfortunately there is no way to selectively stop a notification from showing by using an in-app configuration given how the OS works.

Another alternative could be send a silent push notification instead and display a local notification from it instead, checking first if th

[2021-07-09 00:53] rana-momenton opened #263 "Swrve 7.0.3 Raising issue with SwrveGeoSDK - Swift"
I am using Swrve and SwrveGeoSDK in one of my library using pod. Yesterday I updated my pod and it updated my Swrve pod to 7.0.3 from 7.0.2. Now I am getting errors in my library as below:

[code]

I have observed there was a common class being used in SwrveSDK which was also being using in SwrveGeoSDK. Now in 7.0.3, Swrve has introduced a separate library SwrveCommonSDK and moved common files ove

[2021-07-12 11:30] KevBrodigan commented on #263
@rana-momenton

Thanks for raising this issue. We are investigating and will fix asap.

[2021-07-28 13:06] mattiacantalu opened #264 "Xcode 13 b4 - SwiftPackageManager App Extensions"
Using latest version of SwrveSDK 7.0.3 and Xcode 13.0 beta 4 the App Extensions targets don't compile due:
[code]
and
[code]

[2021-08-11 07:01] mattiacantalu commented on #264
Swift Packages
Resolved in Xcode 13 Beta 5

    You don’t need to annotate code as unavailable for use in application extensions if it references APIs annotated as unavailable for use in application extensions. This reverts a requirement that Xcode 13 Beta 3 introduced. (80615922) (FB9332020)

[2021-08-16 08:34] KevBrodigan commented on #264
Thanks @mattiacantalu for the updates on this. I'll close off this issue, as noted Apple have reversed the change on this in the latest beta.

[2021-08-16 08:34] #264 closed, assigned to nobody

[2021-08-16 08:34] KevBrodigan commented on #262
Issue resolved.

[2021-08-16 08:34] #262 closed, assigned to nobody

[2021-08-16 08:38] KevBrodigan commented on #263
This issue has been fixed in SwrveGeo 5.0.1

[2021-08-16 08:38] #263 closed, assigned to nobody

[2022-07-29 12:58] mumarios opened #266 "[SwrveSDK Error]"
[SwrveSDK Error] Error setting NSFileProtectionNone on file: swrve_cache_version.txt error: The file “swrve_cache_version.txt” doesn’t exist.

[2022-08-17 22:32] darylteo opened #267 "Crash on application start from BlueDot Point SDK"
We are encountering a weird issue that seems to occur from the BDPointSDK as a direct dependency of SwrveSDK and hoping that the team here has encountered this before and can recommend a workaround as it is preventing our release. Thank you.

https://github.com/Bluedot-Innovation/PointSDK-iOS/issues/13

[2022-08-22 08:20] davidbreenwex commented on #267
Hi @darylteo

The Swrve SDK no longer uses BDPointSDK and hasn't for a long time so you must be on an old version of the Swrve SDK.
The solution should be to upgrade to a more recent version.
Can you please open a support ticket by emailing support@swrve.com if you need help with this?

[2022-08-22 08:20] #267 closed, assigned to nobody